h1, textarea, input, form, button {
  font-family: 'Permanent Marker', cursive;
}

li {
  font-family: 'Permanent Marker', cursive;
  font-size: 18;
  color: red;
  letter-spacing: 0.3ch;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-bottom: 50px;
  }
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: gold;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}
.active-star {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-bottom: 50px;
}
.active-star > span {
display: inline-block;
position: relative;
width: 1.1em;
}
.active-star > span::before {
  content: "\2605";
  position: absolute;
  color: gold;
  fill: gold;
}

input#review-button {
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 4px 4px red;
  font: Helvetica;
}


a.button {
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 10px 8px 16px 0 rgba(0,0,0,0.2), 10px 6px 20px 0 rgba(0,0,0,0.19);
  font: Helvetica;
}

a.comic-button {
  font-size: 14px;
  padding: 12px 28px;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 10px 8px 16px 0 rgba(0,0,0,0.2), 10px 6px 20px 0 rgba(0,0,0,0.19);
  font: Helvetica;
}


div.header {
  margin: auto;
  overflow: hidden;
  border: 11px inset #ddd;

}

#banner-video {
  object-fit: fill;
  margin-left: 2%;
  transform: scale(1.2);
}

* {
  box-sizing: border-box;
}


ul.nav-bar {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #333;
  height: 100px;
  position: sticky;
  border: 11px inset #ddd;
}
li.nav-list {
  display: inline;
  float: left;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  margin-top: 1%;
}
li.search {
  display: inline-flex;
  float: right;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-top: 1.8%;
  transform: scale(1.4)
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
li a:hover {
  background-color: maroon;
  transition-duration: 0.4s;
}

div.main-body-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 11px inset #ddd;
  min-height: 1200px;
}

.bg-video-container {
  margin: auto;
  position: absolute;
  justify-content: center;
  z-index: -1000;
  overflow: hidden;
}

#bg-video {
  object-fit: fill

}

div.left-panel {
  position: absolute;
  margin-right: auto;
  margin-top: 6.5%;
  height: auto;
  z-index: 1;
  margin-left: 5%;
  transform: scale(1.2);
  transition-duration: 0.4s;
}

ul#panel-list {
  list-style-type: none;
  padding: 0;
  width: 200px;
  background-color: #333;
  border: 11px inset #ddd;
  transition-duration: 0.4s;
}

li.panel {
  display: block;
  color: red;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  transition-duration: 0.4s;
  font-family: 'Roboto', sans-serif;
}

li.panel:hover {
  background-color: darkgray;
}

div.main-panel {
  width: 70%;
  margin-left: auto;
  z-index: 1;
  transition-duration: 0.4s;
  margin-bottom: 5%;
  margin-right: 3%;
}

textarea {
  width: 80%;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 20;
}
form#review-form {
  align-items: center;
  text-align: center;
  margin-top: 50px;
}


#hidden {
  visibility: hidden;
}

div.comic-book-show {
  align-items: center;
  text-align: center;
  margin-top: auto;
  transition-duration: 0.4s;
}


div#visible {
  justify-content: center;
  align-items: center;
  text-align: center;
}


img#image {
  height: 50%;
  width: 50%;
  border: 11px inset #ddd;
}

img#character-img {
  height: 50%;
  width: 50%;
  border: 11px inset #ddd;
}



ul#reviews {
  margin-top: 50px;
  list-style: none;
  text-align: left;
}

ul#reviews li {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-size: 15pt;
  line-height: 24px;
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 40px;
  padding: 40px;
  text-align: left;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

ul#reviews li:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid #fff;
  border-right: 24px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}

p#description {
    padding: 2rem 4rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 12pt;
    color: red;
    font-family:'Permanent Marker', cursive;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    
    /* &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(.75) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    } */
}

.bubble {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-size: 15pt;
  line-height: 24px;
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 40px;
  padding: 40px;
  text-align: left;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bubble-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid #fff;
  border-right: 24px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}

h1 {
  font-size: 30pt;
  font-family:'Permanent Marker', cursive;
  text-transform: uppercase;
  letter-spacing: 0.5ch;
  color: red;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  text-decoration: underline;
}

h1#title {
  display: inline-block;
  font-size: 30pt;
  font-family:'Permanent Marker', cursive;
  text-transform: uppercase;
  letter-spacing: 0.5ch;
  position: relative;
  color: red;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  text-decoration: underline;
}

h1#add-review {
  font-family: 'Permanent Marker', cursive;
  color: red;
}

h1#character-name {
  color: red;
  font-family: 'Permanent Marker', cursive;
}
p#character-desc {
  margin-top: 5%;
  padding: 2rem 4rem;
  display: inline-block;
  border: 3px solid #333333;
  font-size: 12pt;
  color: red;
  font-family:'Permanent Marker', cursive;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}
p#review-comment {
  align-content: left;
  vertical-align: top;
}
span#review-rating {
  text-align: left;
  vertical-align: text-bottom;
}
span#review-commentor {
  float: right;
}
.maze-div {
  align-items: center;
  text-align: center;
}

.maze-div h1 {
  text-align: center;
}

.maze-container {
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  margin-top: 2%;
  border: 11px inset #ddd;
  background-color: white;
}


#shang-chi {
  height: 75px;
  width: 75px;
  margin-top: 2%;
}

#maze-end {
  height: 75px;
  width: 75px;
  object-position: center;
}

#new-game {
  margin-top: 5%;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 4px 4px red;
  font: Helvetica;
}